@import "header.css";
@import "footer.css";
@import "subscription.css";
body {
  margin: 0 auto;
  padding: 0;
  background-color: rgb(253, 247, 237);
}

.post-main {
  /* background-color: yellow; */
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;

  /* grid-gap: 20px; */
}

/* header {
  grid-row: 1/2;
  grid-column: 1/2;
  background: rgb(240, 214, 175);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
} */

section {
  grid-row: 2/3;
  grid-column: 1/2;
  justify-self: center;
  margin: 20px;
  padding: 10px;
  width: 70%;
  align-self: center;
  text-align: justify;
}

.author-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50px;
}

.books-img {
  width: 80%;
  height: 70%;
}

.h1 {
  color: rgb(163, 76, 36);
  font-size: 1.5em;
}

.h2 {
  color: rgb(108, 37, 167);
}

.h3 {
  text-decoration: underline;
  color: rgb(36, 103, 126);
}

.link {
  text-decoration: none;
  color: rgb(119, 170, 98);
}

/* .subscribe-form {
  margin-top: 40px;
  border: 1px solid black;
} */

footer {
  grid-row: 3/4;
  grid-column: 1/2;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
