.subscribe-form {
  grid-row: 2/3;
  grid-column: 1/3;
  margin-top: 40px;
  border: 1px solid black;
  justify-self: center;
  width: auto;
  margin: 20px;
  padding: 10px;
  font-size: 0.8em;
}

.button {
  background-color: transparent;
}

.sub-link {
  text-decoration: none;
  font-size: 15px;
  color: black;
}
